
/* ACCOUNT CSS */
.acc_card{
    width: 250px;
    padding: 20px;
    background-image: url(../../../icons/profile_background.svg) , -webkit-linear-gradient(var(--color4Light),var(--color4));
    background-image: url(../../../icons/profile_background.svg) , -moz-linear-gradient(var(--color4Light),var(--color4));
    background-image: url(../../../icons/profile_background.svg) , -o-linear-gradient(var(--color4Light),var(--color4));
    background-image: url(../../../icons/profile_background.svg) , linear-gradient(var(--color4Light),var(--color4));
    background-repeat: no-repeat !important;
    background-size: cover;    
}
.acc_card button{
    margin-top:5px;
}
.acc_card .card_details{
    text-align:center;
    color:var(--color4S);
}
.profile-picture{
    width: 150px;
    height:150px;
    border-radius: 100%;
    border: 3px solid white;
    margin: 10px auto;
}
.margin10{
    margin:10px;
}