<div class="nlPanel-header bg4">Circulars</div>

<!-- Table -->
    <div class="add-button">
        <button type="button" class="btn btn-success btn-circle" [routerLink]="['/circular/add-circular']">
            <span class="glyphicon glyphicon-plus" aria-hidden="true"></span>
        </button>
    </div>
    <br>
    <div class="row text-center">
        <loader [condition]="loader"></loader>
    </div>
        <div *ngIf="!EmptyCirculars">
          <!-- Cards -->
          <div class="col-lg-3 col-md-4 col-xs-12" *ngFor="let c of let circular of circulars">
              <div class="nlCard pointerHand center-block" (click)="seletToExpand(circular)" data-toggle="modal" data-target="#myModal-card">
                  <div class="download-image" *ngIf="circular.fileTimestamp">
                      <span *ngIf="circular.fileTimestamp">
                        <img class="modal-image" [attr.src]="fileUrl + circular.fileTimestamp">
                      </span>
                      <div class="edit-image">
                        <a [attr.href]="fileUrl + circular.fileTimestamp" [download]="custom">
                          <i class="fa fa-download fa-lg"></i>
                        </a>
                      </div>
                  </div>
                <img class="modal-image" *ngIf="!circular.fileTimestamp" src="./app/img/preview.png" alt="No Preview Avalable">
                <div class="text-center">
                  <div class="name">
                      {{circular.employeeName}}
                  </div>
                  <span class="class" *ngIf="circular.standards">( For :  Selected Classes )</span>
                  <span class="class" *ngIf="!circular.standards">( For : School )</span>
                </div>
                <hr>
                <div class="cardTitle">
                  <b>{{circular.title}}</b>
                </div>
                <div class="cardDescription">
                    {{circular.description}}
                </div>
              </div>
            </div>
            <!-- /end of cards -->
        </div>
    <!--end cards-->
    <div class="row" style="text-align: center" *ngIf="(EmptyCirculars)&&(!loader)&&(currentPage==1)">
      <b>No Circulars are added to the view.</b>
    </div>
    <div class="row " style="text-align: center" *ngIf="(EmptyCirculars)&&(!loader)&&(currentPage!=1)">
      <b>No more Circulars are added to the view.</b>
    </div>
    <div class="col-lg-12 col-xs-12">
        <div class="text-center">
            <button (click)="nextCircular()" class="btn btn-lg button4 round" [disabled]="EmptyCirculars || noMore">
              Load More
            </button>
        </div>
    </div>

    <div class="modal fade" id="myModal-card" tabindex="-1" role="dialog" aria-labelledby="gridSystemModalLabel">
        <div class="modal-dialog" role="document">
          <div class="square" *ngIf="selectedCircular">
              <div class="close pull-right">
                  <span data-dismiss="modal" class="glyphicon glyphicon-remove" aria-hidden="true"></span>
               </div>
                  <div class="col-lg-4 col-md-4 col-sm-12 head">
                      <div>
                          <div class="download-image-modal" *ngIf="selectedCircular.fileTimestamp">
                            <span>
                             <img class="modal-image" [attr.src]="fileUrl + selectedCircular.fileTimestamp">
                            </span>
                                <div class="edit-image-modal"><a [attr.href]="fileUrl + selectedCircular.fileTimestamp" [download]="custom"><i class="fa fa-download fa-lg"></i></a></div>
                          </div>
                          <span>
                            <img class="modal-image" *ngIf="!selectedCircular.fileTimestamp" src="./app/img/preview.png" alt="No Preview Avalable">
                          </span>
                      </div>
                     <div class="text-center">
                        <b>{{selectedCircular.employeeName}}</b>
                        <br>
                          <span *ngIf="selectedCircular.standards"><b>For: </b>{{selectedCircular.standards}}</span>
                          <span *ngIf="!selectedCircular.standards">For: School </span>
                     </div>
                  </div>
                  <div class="col-lg-8 col-md-8 col-sm-12">
                     <p>{{selectedCircular.description}}</p>
                     <b>Validity: </b>{{selectedCircular.createdAt | date}} to {{selectedCircular.start | date}}
                  </div>
               <div class="row"></div>
          </div>
          <!-- /.modal-content -->
        </div>
        <!-- /.modal-dialog -->
      </div>
<!-- /.modal -->