<div>
  <div>
    <br>
    <div class="row text-center">
      <loader [condition]="loader"></loader>
    </div>
      <div *ngIf="!emptyPolls" >
        <div class="border margin" *ngFor="let p of polls">
          <div class="nlPanel-header  bg4">
            {{p.question}}
          </div>
          <div class="panel-body" style="padding: auto 0;">
            <div class="flot-chart" style="padding:auto 0;">
              <div class="row">
                <div class="col-lg-6" id="inouterner">
                  <ul class="inner" style="list-style-type:none;margin:0;padding:0;" *ngFor="let o of p.options">
                    <li class="pollChoice">{{o.name}}
                      <div class="progress pollProgress">
                        <span class="progress-bar progress-bar-success progress-bar-striped" role="progressbar" [attr.aria-valuenow]="o.percent"
                          aria-valuemin="0" aria-valuemax="100" [style.width]="(o.percent/100)*100 + '%'">
                        <span style="margin:auto;"> {{o.percent}}% </span>
                        </span>
                      </div>
                    </li>
                  </ul>
                </div>
                <div class="col-lg-6">
                  <div class="pole-info">
                    <ul style="list-style-type:none;margin:0;padding:0;">
                      <li *ngIf="p.employeeName">
                        <div class="col-sm-1">
                          <i class="fa fa-user-circle-o" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                          <label>Created By:</label> <span class=" ">{{p.employeeName}}</span>
                        </div>
                      </li>
                      <li *ngIf="p.typeId==1" >
                        <div class="col-sm-1">
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                          <label>Audience:</label> <span class=" ">{{p.typeName}}</span>
                        </div>
                      </li>
                      <li *ngIf="p.typeId==2" >
                        <div class="col-sm-1">
                          <i class="fa fa-users" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                          <label>Audience:</label>
                          <span class=" ">
                  <ul class="inline-flex" *ngFor="let s of p.standards" >
                    <li>{{s.name}} </li>
                  </ul>
                </span>
                        </div>
                      </li>
                      <li>
                        <div class="col-sm-1">
                          <i class="fa fa-question-circle" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                          <label class="">Question Type:</label>
                          <span class=" ">{{p.optionTypeName}}</span>
                        </div>
                      </li>
                      <li>
                        <div class="col-sm-1">
                          <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-11">
                          <label class="">Count: </label> <span class=" ">{{p.count}}</span>
                        </div>
                      </li>
                      <li >
                        <div class="col-sm-1">
                          <i class="fa fa-calendar" aria-hidden="true"></i>
                        </div>
                        <div class="col-sm-5">
                          <label class="">Created At: </label>
                          <div class=" ">{{p.createdAt | date}}</div>
                        </div>
                        <div class="col-sm-6">
                          <label class="">Due Date:</label>
                          <div class=" "> {{p.expiredAt | date}}</div>
                        </div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>

    <div class="row col-lg-12" style="text-align: center" *ngIf="(emptyPolls)&&(!loader)&&(currentPage==1)"><b>No Polls are added to the view.</b></div>
    <div class="row col-lg-12" style="text-align: center" *ngIf="(emptyPolls)&&(!loader)&&(currentPage!=1)"><b>No more Polls are added to the view.</b></div>
  </div>
    <!--<button type="button" (click)="previousPoll()" [disabled]="currentPage === 1" class="btn btn-primary">Previous</button>-->
    <div class="text-center"><button type="button" (click)="nextPoll()" [disabled]="emptyPolls || noMore" class="btn round button4 btn-lg">Load More</button></div>

</div>