<div *ngIf="selectedStandard">
    <div class="nlPanel-header bg4 text-center" *ngIf="selectedStandard && standards ">
        <form class="form-inline">
            <div class="form-group">
              <label>Time Table For </label>
              <select class="form-control" id="standardIds" name="standardIds" [(ngModel)]="selectedStandard" (ngModelChange)="getTimeTable($event)">
                  <option *ngFor=" let s of standards" [value]="s.id"> {{s.name}}</option>
                </select>
            </div>
        </form>
    </div>
    <div style="overflow:auto">
    	<table width="100%">
    		<thead>
          <tr *ngIf= " days ">
          <th class="tt-head"></th>
          <th class="tt-head" *ngFor=" let day of days">{{ day }}</th>
          </tr>
        </thead>
        <tbody *ngIf="daysdata">
          <div class="row text-center">
            <loader [condition]="loader"></loader>
          </div>
          <tr *ngFor=" let x1 of daysdata[0]; let i = index ">
            <td class="tt-head1" >  {{x1.startTime}} - {{x1.endTime}}  </td>
            <ng-container *ngIf="i%4!=0" >
              <td class="tt-blocks"  *ngFor=" let x1 of daysdata; let i1 = index" (click) = "getModal( selectedStandard, x1[i],i1 )">
                  {{ x1[i].subjectName }} 
              </td>
            </ng-container>            
            <td class="tt-blocks" style="cursor:default;" colspan="5" *ngIf="i%4==0">
              {{ getValue(i) }}
            </td>
          </tr>
        </tbody>
    	</table>
    </div>
</div>
<div class="modal fade" id="editSubject" role="dialog">
  <div class="modal-dialog">
   <div class="square">
      <div class="container-fluid bg4">
        <h4 class="modal-title">Add or View subject</h4>
      </div>
        <div class="container-fluid">
          <div style="padding: 25px;">
            <b>{{day}}   ({{starttime}} - {{endtime}}):</b>
            <span *ngIf="showsubjectname">{{subjectName}}  <i (click)="showlist()" class="glyphicon glyphicon-pencil"></i> </span>
          </div>
          <span *ngIf="showsubjectlist">Select subject :</span>
          <br *ngIf="showsubjectlist">
          <select *ngIf="showsubjectlist" class="form-control" [(ngModel)]="selectedSubject"  required>
            <option [disabled] selected="selected">Select Subject</option>
            <option *ngFor=" let s of subjects" [value]="s.id"> {{s.name}}</option>
          </select>
        </div>  
        <div class="col-lg-6 col-sm-12">
            <button type="button" class="btn button4 btn-card"  (click)="onSubmit()" data-dismiss="modal" style="width:100%;margin-bottom:10px">
                  <span class="glyphicon glyphicon-ok-circle pull-left"></span>
                  Save
              </button>
          </div>
          <div class="col-lg-6 col-sm-12">
              <button type="button" class="btn button4 btn-card" data-dismiss="modal" style="width:100%;margin-bottom:10px">
                    <span class="glyphicon glyphicon-remove-circle pull-left"></span>
                    Cancel
                </button>
            </div>
            <div class="row"></div>
    </div>
  </div>
</div>
