Select Standard
<div class="panel panel-default">

	<select class="form-control" id="standardIds" name="standardIds" [(ngModel)]="selectedStandard" [ngModelOptions]="{standalone: true}"
          (ngModelChange)="getTimeTable(selectedStandard)" required>
      <option *ngFor=" let s of standards" [value]="s.id"> {{s.name}}</option>
        
    </select>
	<br>
    <div style="overflow:auto">
    	<table width="100%">
    		<thead>
    			<tr *ngIf= " days && selectedStandard ">
            <th class="tt-head"></th>
    				<th class="tt-head" *ngFor=" let x1 of daysdata[0]">{{x1.startTime}} - {{x1.endTime}}</th>
    			</tr>
    		</thead>
    		<tbody *ngIf= " days && selectedStandard ">
    			<tr *ngFor=" let day of days; let i = index ">
            <td class="tt-head1">{{day}}</td>
    				<td  class="tt-blocks" *ngFor=" let x of daysdata[i]; let i1 = index " (click)="getModal(selectedStandard,x,i)">
              <!-- <span *ngIf="!x.subjectName">{{x.id}}</span> -->
              <span *ngIf="x.subjectName">{{x.subjectName}}</span>
              
                         <!--    <span class="tt-block" *ngFor=" let x1 of x" (click)="getModal(selectedStandard,x1,i)">{{x1.startTime}} - {{x1.endTime}} <br> {{x1.subjectName}}</span> -->    
            </td>
    			</tr>
    		</tbody>
    	</table>
    </div>



</div>
<div *ngIf= " timetable " >
<span  *ngFor=" let x of daysdata">{{x.id}}</span>
</div>


<div class="modal fade" id="editSubject" role="dialog">
  <div class="modal-dialog">
    <!-- Update Modal content-->
   <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Add or View subject</h4>
      </div>
        <div style="width:94%;margin:auto">
          <h4>{{day}}   ( {{starttime}} - {{endtime}} )</h4>
          <!-- <br *ngIf="showsubjectlist"> -->
          <h3 *ngIf="showsubjectname">{{subjectName}}  <i style="font-size: 15px" (click)="showlist()" class="glyphicon glyphicon-pencil"></i></h3>
          <span *ngIf="showsubjectlist">Select subject :</span>
          <br *ngIf="showsubjectlist">
          <select *ngIf="showsubjectlist" class="form-control" [(ngModel)]="selectedSubject" [ngModelOptions]="{standalone: true}" required>
            <option *ngFor=" let s of subjects" [value]="s.subjectId"> {{s.subject}}</option>
          </select>
        </div>  
    <div class="modal-footer">
        <button type="button" class="btn btn-primary" (click)="onSubmit()" data-dismiss="modal">Submit</button>
        <button type="button" class="btn btn-primary" data-dismiss="modal">Cancel</button>
    </div>

    </div>
  </div>
</div>
