.tt-head{
	background-color: #303342;
	text-align: center;
	color : white;
	width : 16.67%;
	padding-top: 8px;
	padding-bottom: 8px;
}

.tt-blocks{
	text-align: center;
}

.tt-block{
	display: block;
	border : 1px solid black;
	
}